.btn {
  display: block
}



#Jamaica, #Peru, #Oregon, #Barcelona, #NoVacation {
  display: none;

}

body {
  background-image: url("https://images.freeimages.com/images/large-previews/047/headed-down-1400175.jpg");
}

h1 {
  text-align: center;
  font-size: 40px;
  letter-spacing: .5em;
}

h2 {
  text-align: center;
  font-size: 40px;
  letter-spacing: .4em;
}
